.pdfs {
    text-align: center;

    embed {
        border: 10px solid $color-bordo;
        width: 600px;
        height: 730px;
    }
}

.albums {
    height: auto;
    background-color: $color-gris;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: repeat(5, 200px);
    padding: 20px;
    grid-gap: 20px;
    justify-content: center;
}

.pdf {
    border: 3px $color-negro solid;
    background-size: cover;
    background-position: center;
}

.pdf1 {
    background-image: url(../Portadas_del_mundial/70.jpg);
}

.pdf2 {
    background-image: url(../Portadas_del_mundial/74.jpg);
}

.pdf3 {
    background-image: url(../Portadas_del_mundial/78.jpg);
}

.pdf4 {
    background-image: url(../Portadas_del_mundial/españa82.jpg);
}

.pdf5 {
    background-image: url(../Portadas_del_mundial/86.jpg);
}

.pdf6 {
    background-image: url(../Portadas_del_mundial/90.jpg);
}

.pdf7 {
    background-image: url(../Portadas_del_mundial/usa94.jpg);
}

.pdf8 {
    background-image: url(../Portadas_del_mundial/francia98.jpg);
}

.pdf9 {
    background-image: url(../Portadas_del_mundial/koreajapon2002.jpg);
}

.pdf10 {
    background-image: url(../Portadas_del_mundial/2006.jpg);
}

.pdf11 {
    background-image: url(../Portadas_del_mundial/2010.jpg);
}

.pdf12 {
    background-image: url(../Portadas_del_mundial/2014.jpg);
}

.pdf13 {
    background-image: url(../Portadas_del_mundial/2018.jpg);
}

.pdf14 {
    background-image: url(../Portadas_del_mundial/2022.jpg);
}

.sec {
    padding: 50px;
    height: 700px;
}

.back {
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}