header {
    height: 90px;
    display: flex;
    font-family: Sifonn;
    justify-content: space-between;
    background-color: $color-bordo;
    align-items: center;
    padding: 5px;
    font-size: 20px;
}

.logo {
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 20px;
}

.inc {
    padding: 5px;
    list-style: none;

    a {
        text-decoration: none;
        color: $color-negro;
        padding: 20px;
    }


}

.inc-list {
    list-style: none;
    text-align: center;
    font-size: 30px;
    display: flex;
}

nav a:hover,
.abrir-menu:hover,
.cerrar-menu:hover {
    color: $color-blanco;
}

.abrir-menu,
.cerrar-menu {
    display: none;
    font-size: 50px;
    border: none;
    color: $color-negro;
    background: transparent;
    padding-right: 10px;
    padding-top: 10px;
}