header {
    height: 90px;
    display: flex;
    font-family: Sifonn;
    justify-content: space-between;
    background-color: $color-bordo;
    align-items: center;
    padding: 5px;
    font-size: 20px;
}

.logo {
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 20px;
}

.inc {
    padding: 5px;
    list-style: none;

    a {
        text-decoration: none;
        color: $color-negro;
        padding: 10px;
    }


}

.inc-list{
    list-style: none;
    text-align: center;
    font-size: 30px;
    display:flex;

}

nav a:hover {
    color: $color-blanco;
}

.menu-hamburguesa{
    display: none;
    font-size: 50px;
}