@media only screen and (min-width: 480px) {
    .galeria {
        grid-template-columns: 300px 300px;
        grid-template-rows: repeat(14, 300px);
        justify-content: center;


    }
}

@media only screen and (max-width: 680px) {
    .albums {
        grid-template-columns: 190px 190px;
        grid-template-rows: repeat(8, 200px);
        justify-content: center;
    }
    .pdfs embed {
        border: 10px solid $color-bordo;
        width: 350px;
        height: 530px;
    }
}



@media (max-width:700px) {
    main {
        height: 170vh;
    }
}

@media (max-width:700px) {
    .tain {
        height: 120vh;
    }
}

// @media screen and (max-width: 650px){
//     // .menu-hamburguesa{
//     //     display: block;
//     // }

//     // .inc{
//     //     display: none;
//     //     position: absolute;
//     // }
//     .inc {
//         position: absolute;
//         top:0;
//         right: 0;
//         bottom: 0;
//         background-color: $color-blanco;
//         padding: 30px;
        
//     }

//     .inc-list{
//         flex-direction: column;
//         align-items: end;
//     }
//     }
@media screen and (max-width: 650px){
    header{
        height: auto;
        flex-direction: column;
        text-align: center;

}
}