@media only screen and (max-width: 680px){
    .container-form {
        grid-template-columns: 300px;
        justify-self: center;
        padding-left: 60px;
        
        iframe{
            width:100%; 
            height:700px;
            
        }
    }
}





@media only screen and (min-width: 480px) {
    .galeria {
        grid-template-columns: 300px 300px;
        grid-template-rows: repeat(14, 300px);
        justify-content: center;
    }

    .historiaMundiales{
        grid-template-columns: 300px 300px;
        grid-template-rows: 300px;
        justify-content: center;
    }
}

@media only screen and (max-width: 680px) {
    .albums {
        grid-template-columns: 190px 190px;
        grid-template-rows: repeat(8, 200px);
        justify-content: center;
    }

    .pdfs embed {
        border: 10px solid $color-bordo;
        width: 350px;
        height: 530px;
    }

    .tata{
        grid-template-columns: 200px;
        grid-template-rows: 3;
        grid-gap:250px;
        justify-content: center;
    }

    .tata2{
        grid-template-columns: 200px;
        grid-template-rows: 2;
        grid-gap:250px;
        justify-content: center;
    }
}



@media (max-width:700px) {
    main {
        height: 170vh;
    }
    .tain {
        height: auto;
        padding-bottom: 30px;
    }
    .tain2{
        height: auto;
    }
}

@media screen and (max-width: 650px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
    }

    .inc {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: $color-negroclaro;
        padding: 1rem;
        transition: all 0.4s;


        a {
            text-decoration: none;
            color: $color-gris;
            padding: 10px;

        }

        &.visible {
            opacity: 1;
            visibility: visible;
        }
    }

    .inc-list {
        flex-direction: column;
        align-items: end;
        font-size: 23px;
    }

    .abrir-menu:hover,
    .cerrar-menu:hover {
        color: $color-blanco;
    }

    .logo {
        padding-top: 20px;
    }
}





// @media screen and (max-width: 650px){
//     header{
//         height: auto;
//         flex-direction: column;
//         text-align: center;

// }
// }