.galeria {
    height: auto;
    background-color: $color-gris;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(28, 500px);
    padding: 20px;
    grid-gap: 20px;
}

.item {
    border: 3px $color-negro solid;
    background-size: cover;
    background-position: center;
}

.item1 {
    background-image: url(../Sobres/1970frente.jpg);
}

.item2 {
    background-image: url(../Sobres/1970reverso.jpg);
}

.item3 {
    background-image: url(../Sobres/1974frente.jpg);
}

.item4 {
    background-image: url(../Sobres/1974reverso.jpg);
}

.item5 {
    background-image: url(../Sobres/1978frente.jpg);
}

.item6 {
    background-image: url(../Sobres/1978reverso.jpg);
}

.item7 {
    background-image: url(../Sobres/1982frente.jpg);
}

.item8 {
    background-image: url(../Sobres/1982reverso.jpg);
}

.item9 {
    background-image: url(../Sobres/1986frente.jpg);
}

.item10 {
    background-image: url(../Sobres/1986reverso.jpg);
}

.item11 {
    background-image: url(../Sobres/1990frente.jpg);
}

.item12 {
    background-image: url(../Sobres/1990reverso.jpg);
}

.item13 {
    background-image: url(../Sobres/1994frente.jpg);
}

.item14 {
    background-image: url(../Sobres/1994reverso.jpg);
}

.item15 {
    background-image: url(../Sobres/1998rente.jpg);
}

.item16 {
    background-image: url(../Sobres/1998reverso.jpg);
}

.item17 {
    background-image: url(../Sobres/2002frente.jpg);
}

.item18 {
    background-image: url(../Sobres/2002reverso.jpg);
}

.item19 {
    background-image: url(../Sobres/2006frente.jpg);
}

.item20 {
    background-image: url(../Sobres/2006reverso.jpg);
}

.item21 {
    background-image: url(../Sobres/2010frente.jpg);
}

.item22 {
    background-image: url(../Sobres/2010reverso.jpg);
}

.item23 {
    background-image: url(../Sobres/2014frente.jpg);
}

.item24 {
    background-image: url(../Sobres/2014reverso.jpg);
}

.item25 {
    background-image: url(../Sobres/2018frente.jpg);
}

.item26 {
    background-image: url(../Sobres/2018reverso.jpg);
}
.item27 {
    background-image: url(../Sobres/2022frente.jpg);
}

.item28 {
    background-image: url(../Sobres/2022reverso.jpg);
}